body .wrapper{
    max-width: 1600px;
    height: 100%;
    background: #fff;
    margin: 15px 20px 50px 20px;
  }
  
  body .wrapper .tabs_wrap{
    padding: 20px;
    border-bottom: 1px solid #ebedec;
    font-family: 'Lato';
    font-weight: 700;
  }
  
  body .wrapper .tabs_wrap ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  body .wrapper .tabs_wrap ul li{
    width: 135px;
      text-align: center;
      background: var(--hover-color);
      border-right: 1px solid #c1c4c9;
      padding: 13px 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  body .wrapper .tabs_wrap ul li:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  body .wrapper .tabs_wrap ul li:last-child{
    border-right: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  body .wrapper .tabs_wrap ul li:hover,
  body .wrapper .tabs_wrap ul li.active{
    background: var(--contrast-color);
    color: #fff;
  }
  
  body .wrapper .container .item_wrap{
    padding: 10px 20px;
  }

  
  body .wrapper .container .item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
